:root {
  --primary-color: #0f0e17;
  --secondary-color: #ff8906;
  --tertiary-color: #e53170;
  --font-color: #fffffe;
  --highlight-color: #f25f4c;
}

/* GENERAL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  margin: 0px 0px 20px 0px;
  background: var(--secondary-color);
  position: sticky;
  top: 0;
}

h1 {
  font-size: 4rem;
  color: var(--primary-color);
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  padding: 20px;
}

main {
  margin: 20px;
}

body {
  background: var(--primary-color);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

/* GALLERY'S GRID */
#solar_system {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  gap: 2%;
}


/* PLANET'S CARDS & GRID SETTING */
.planet {
  width: fit-content;
  height: fit-content;
  color: var(--font-color);
  background: black;
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  max-width: 200px;
  max-height: 200px;
  transition: .3s;

  > a > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    max-width: 190px;
    max-height: 190px;
    cursor: pointer;
  }
}

.planet:hover {
    transform: scale(1.05);
}

.planet:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.planet:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.planet:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.planet:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}

.planet:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.planet:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 6 / 8;
}

.planet:nth-child(7) {
  grid-column: 3 / 4;
  grid-row: 5 / 7;
}

.planet:nth-child(8) {
  grid-column: 3 / 4;
  grid-row: 7 / 9;
}

.planet:nth-child(9) {
  grid-column: 4 / 5;
  grid-row: 6 / 8;
}

/* INFO GRID FORMAT */
#planet_info {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  max-width: 1300px;
  border-top: 2px solid var(--tertiary-color);
  grid-template-columns: repeat(auto-fill, minmax(100px, 400px));
  margin: 100px auto;
  padding: 20px 0px;
  gap: 2%;
}

/* INFO CARDS */
.info {
  color: var(--font-color);
  max-width: 250px;

  > h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 10px;
  }

  > p {
    text-align: justify;
  }

  > a > button {
    margin: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 24px;
    border: 2px solid;
    cursor: pointer;
    transition: .3s;
  }
}

/* PLANET'S TITLE COLORS */
#sun {
    h2 {
        color: #efa70d;
    }

    button:hover {
        background: #efa70d;
        transform: scale(1.1);
    }
}

#mercury {
    h2 {
        color: #c565e2;
    }

    button:hover {
        background: #c565e2;
        transform: scale(1.1);
    }
}

#venus {
    h2 {
        color: #edcb83;
    }

    button:hover {
        background: #edcb83;
        transform: scale(1.1);
    }
}

#earth {
    h2 {
        color: #a6ef53;
    }

    button:hover {
        background: #a6ef53;
        transform: scale(1.1);
    }
}

#mars {
    h2 {
        color: #f07b27;
    }

    button:hover {
        background: #f07b27;
        transform: scale(1.1);
    }
}

#jupiter {
    h2 {
        color: #a48238;
    }

    button:hover {
        background: #a48238;
        transform: scale(1.1);
    }
}

#saturn {
    h2 {
        color: #ddc01b;
    }

    button:hover {
        background: #ddc01b;
        transform: scale(1.1);
    }
}

#uranus {
    h2 {
        color: #86dfed;
    }

    button:hover {
        background: #86dfed;
        transform: scale(1.1);
    }
}

#neptune {
    h2 {
        color: #3869c4;
    }

    button:hover {
        background: #3869c4;
        transform: scale(1.1);
    }
}

/* FOOTER & QUERIES */
footer {
  background: var(--primary-color);
  color: var(--font-color);
  border-top: 2px solid var(--secondary-color);
  height: 100px;
  padding: 20px;
  margin-top: 150px;

  text-align: center;
  align-content: center;
}

@media (max-width: 860px) {
    footer {
      margin-top: 500px;
    }
  }
  

@media (max-width: 590px) {
  h1 {
    font-size: 2rem;
  }
}
